
/* Hover Type 2
-------------------------------------------------------*/

.product-img.hover-2 {
  position: relative;
  overflow: hidden;
}

.product-img.hover-2:hover .product-add-to-wishlist,
.product-img.hover-2:hover .hover-overlay,
.product-img.hover-2:hover .product-details {
  opacity: 1;
}

.product-img.hover-2 .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22,24,26,.9);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product-img.hover-2 .product-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  float: none;
  max-width: 100%;
  margin-top: -82px;
  padding: 0 15px;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product-img.hover-2 .category > a {
  font-size: 14px;
  color: #0ccfa8;
}

.product-img.hover-2 .product-details > a > p {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: bold;
  margin-top: 20px;
}

.product-img.hover-2 .product-details > a > p:hover {
  color: #0ccfa8;
}

.product-img.hover-2 .price {
  width: 100%;
  text-align: center;
  display: block;
  float: none;
}

.product-img.hover-2 .price del {
  display: inline-block;
  color: #fff;
  margin: 0 10px 0 0;
  font-size: 15px;
}

.product-img.hover-2 .ammount {
  font-size: 15px;
  color: #fff;
}

.product-img.hover-2 .product-add-to-cart {
  width: 100%;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-top: 35px;
}

.product-img.hover-2 .product-add-to-wishlist {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product-img.hover-2 .product-add-to-wishlist a {
  color: #fff;
}

.product-img.hover-2 .product-add-to-wishlist a:hover {
  color: #0ccfa8;
}